page-bus-reservation {
    #searchbar{
        background: #0874bb;
    }
    #label{
        font-size: 9px;
        word-wrap: normal;
    }
    #danger{
        color: #ed1c24;
    }
    #approved{
        color: #00a651;
    }
    #detail-navi{
        font-size: 9px;
    }
}
