page-bus-reservation {
    #searchbar{
        background: #0874bb;
    }
    #label{
        font-size: 9px;
        word-wrap: normal;
        color: #898989;
    }
    #danger{
        color: white;
        font-weight: bold;
        padding: 2px 3px;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        background-color: #ed1c24;
    }
    #approved{
        color: white;
        font-weight: bold;
        padding: 2px 3px;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        background-color: #00a651;
    }

    #underline{
        border-bottom: 1px solid #898989 !important;
    }

    #detail-navi{
        font-size: 9px;
    }
}
