page-home {
    #traffic{
        position: absolute;
        top: 51px;
        right: 0;
        color: #616161;
        font-size: small;
        width: 39px;
        margin-right: 11px;
        margin-top: 5px;
        background-color: rgba(244,244,244,0.9);
    }

    #map-card{
        position: relative;
        top: 450px;
    }
}
