page-bus-reservation-add {
    #reference{
        background: #0874bb;
        font-style: italic;
        margin: 0;
        color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    #submit-btn{
        float:right;
    }
    .item-md{
        padding-right: 16px;
    }
}
