<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Bus Reservation - Create</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)=goToBusReserveIndexPage()>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <p padding id="reference">Reference Number: </p>
</ion-header>


<ion-content [style.opacity]="isModal ? 0 : 1" padding>
    <form [formGroup]="addForm" (ngSubmit)="addReservation()">
        <ion-card>
            <ion-title text-center>Applicant's Information</ion-title>
            <ion-item>
                <ion-label floating>Name:</ion-label>
                <ion-input type="text" formControlName="applicant_name"></ion-input>
            </ion-item>
            <div *ngIf="form_errs.applicant_name" id="form-err">'Name' cannot be empty.</div>
            <ion-item>
                <ion-label floating>Staff Number:</ion-label>
                <ion-input type="text" formControlName="staff_no"></ion-input>
            </ion-item>
            <div *ngIf="form_errs.staff_no" id="form-err">'Staff Number:' cannot be empty.</div>
             <ion-item>
                <ion-label floating>Faculty / Center / Institute / Unit / Club / Department:</ion-label>
                <ion-input type="text" formControlName="faculty"></ion-input>
            </ion-item>
            <div *ngIf="form_errs.faculty" id="form-err">'Faculty:' cannot be empty.</div>
            <ion-item style="padding-bottom: 15px;">
                <ion-label floating>Contact Number:</ion-label>
                <ion-input type="text" formControlName="contact_no"></ion-input>
            </ion-item>
            <div *ngIf="form_errs.contact_no" id="form-err">'Contact Number:' cannot be empty.</div>
        </ion-card>

        <ion-card>
            <ion-title text-center>Bus Reservation Details</ion-title>
            <ion-item>
                <ion-label floating>Activity / Event Description:</ion-label>
                <ion-input type="text" formControlName="event_desc"></ion-input>
            </ion-item>
            <div *ngIf="form_errs.event_desc" id="form-err">'Activity / Event Description:' cannot be empty.</div>
            
            <ion-item>
                <ion-label inline>Type of vehicle:</ion-label>
                <ion-select formControlName="vehicle_type" (ionChange)="onChange($event)">
                    <ion-option value="bus" selected>Bus</ion-option>
                    <ion-option value="van">Van</ion-option>
                    <ion-option value="other_option"> Other:</ion-option>
                    <ion-input type="text"></ion-input>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="isOther">
                <ion-label>OtherL</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label inline>Number of passenger:</ion-label>
                <ion-input type="number" formControlName="number_of_passenger"></ion-input>
            </ion-item>
            <div *ngIf="form_errs.number_of_passenger" id="form-err">'Number of passenger:' cannot be empty.</div>
            
            <ion-item>
                <ion-label inline>Bus required on:</ion-label>
                <ion-datetime displayFormat="MMM DD, YYYY || hh:mm A" min="2018" max="2025" formControlName="required_datetime" [(ngModel)]="localDate" class="datetime_picker"></ion-datetime>
            </ion-item>

            <ion-card-content>
                <div class="div_item">Pick up location:
                    <a ion-button round small id="map-modal" (click)="openModal(0)">Select a Location</a>
                    <ion-input type="text" formControlName="pickupLoc" disabled="true" value="{{pickupLoc}}"></ion-input>
                    <div *ngIf="form_errs.pickupLoc" id="form-err">'Please select a pick up location.</div>
                </div>


                <div class="div_item">Destination:
                    <a ion-button round small id="map-modal" (click)="openModal(1)">Select a Location</a>
                    <ion-input type="text" formControlName="dropoffLoc" disabled="true" value={{dropoffLoc}}></ion-input>
                    <div *ngIf="form_errs.dropoffLoc" id="form-err">'Please select a destination location.</div>
                </div>
            </ion-card-content>
            
        </ion-card>

        <button ion-button id="submit-btn" type="submit">
            Submit
        </button>

    </form>

</ion-content>
