<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Bus Scheduled</ion-title>
        <!--
        <ion-buttons end>
            <button ion-button icon-only><ion-icon name="bus"></ion-icon></button>
        </ion-buttons> -->
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div text-center>
        <ion-title text-center>Route:  {{selected_route.title}}</ion-title>
        <button ion-button round small class="chg-btn" (click)="chooseRoute()">CHANGE</button>
    </div>

<!--     <ion-card *ngIf="relevant_bus.length == 0">
        <ion-card-content color="danger">Sorry, currently there are no bus servicing this route.</ion-card-content>
    </ion-card> -->
    <ion-card>
        <!-- <ion-card-header text-center>Bus Number: <span id="bus_no">{{bus.bus_number}}</span></ion-card-header> -->

        <ion-card-content>
            <section class="timeline">
                <ul *ngFor="let stop of stops">
                    <li class="timeline-item">
                        <div class="stops">{{stop.name}}
                            <ul *ngFor = 'let bus of stop.buses'>
                                <li class="bus-list"><span class="bus_no">{{bus.bus_number}}</span>, {{bus.eta}}</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
        </ion-card-content>
    </ion-card>
    <!-- <div *ngFor="let bus of relevant_bus">
    </div> -->

</ion-content>
